@import "tailwindcss";

@font-face {
  font-family: vazir;
  src: url(/Fonts/Vazirmatn-Medium.eot);
  src: url(/Fonts/Vazirmatn-Medium.woff2);
  src: url(/Fonts/Vazirmatn-Medium.woff);
  src: url(/Fonts/Vazirmatn-Medium.ttf);
}

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: vazir , sans-serif;
}
